.Button {
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    line-height: 42px;
    margin-left: 8px;
    padding: 0 16px;
    font-weight: 600;
    cursor: pointer;
    background: #076cff;
}

.Button:disabled {
    opacity: .25;
}